{% extends 'base.html' %}

{% load static %}

{% block title %}| {{ post.title }}{% endblock title %}

{% block content %}

<div class="post-detail mb-5">
  <h2>{{ post.title }}</h2>
  <p>Author: {{ post.author|title }}</p>
  <div class="mb-3">
    <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Edit this Post</a>
    <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete this post</a>
  </div>
  <p class="lead">{{ post.snippet }}</p>
  <img src="{{ post.post_img.url }}" class="card-img-top rounded shadow-lg" alt="{{ post.title }}">
  <p>{{ post.body|linebreaks }}</p>

  <div>
    <h3>Reviews</h3>
    <ul class="list-unstyled">
      {% for review in post.reviews.all %}
      <li>{{ review.review }} <br /><strong>{{ review.author|title }}</strong> <br />{{ review.date }}<hr /></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
