{% extends 'base.html' %}

{% load static %}

{% block title %}| About Us{% endblock title %}

{% block content %}

<h1></h1>

<div class="container mt-5">
    <h1>About Django Extension Examples Website</h1>
    <h3>Coded By:</h3>
    <p class="lead">
      David Robb
      <small class="text-muted">(Sunday, April 21, 2024)</small>
    </p>
    <p class="lead">
      Welcome to an updated version of the django-example project that I created several years ago to better understand django-extensions. This version is fully up-to-date with the latest paackages and some additional features.
    </p>
    <p>
      This project will not be hosted publicly, but on a private server in my lab
      environment, and will primarily be used to host technical posts, except
      those from Abby.
    </p>
    <h3>Built With...</h3>
    <h4>Development Packages</h4>
    <ul class="list-unstyled">
        <li>Black==24.4.0</li>
        <li>Ruff==0.4.1</li>
    </ul>
    <h4>Production Packages</h4>
    <ul class="list-unstyled">
      <li>asgiref==3.8.1</li>
      <li>certifi==2024.2.2</li>
      <li>cffi==1.16.0</li>
      <li>charset-normalizer==3.3.2</li>
      <li>crispy-bootstrap5==2024.2</li>
      <li>cryptography==42.0.5</li>
      <li>defusedxml==0.7.1</li>
      <li>dj-database-url==2.1.0</li>
      <li>dj-email-url==1.0.6</li>
      <li>Django==5.0.4</li>
      <li>django-allauth==0.61.1</li>
      <li>django-cache-url==3.4.5</li>
      <li>django-crispy-forms==2.1</li>
      <li>django-extensions==3.2.3</li>
      <li>environs[django]==11.0.0</li>
      <li>idna==3.7</li>
      <li>marshmallow==3.21.1</li>
      <li>oauthlib==3.2.2</li>
      <li>packaging==24.0</li>
      <li>pillow==10.3.0</li>
      <li>pycparser==2.22</li>
      <li>pyjwt[crypto]==2.8.0</li>
      <li>python-dotenv==1.0.1</li>
      <li>python3-openid==3.2.0</li>
      <li>requests==2.31.0</li>
      <li>requests-oauthlib==2.0.0</li>
      <li>sqlparse==0.5.0</li>
      <li>typing-extensions==4.11.0</li>
      <li>urllib3==2.2.1</li>
    </ul>
  </div>

{% endblock content %}
