{% extends 'base.html' %}

{% load static %}

{% block title %}| About Us{% endblock title %}

{% block content %}

<h1></h1>

<div class="container mt-5">
    <h1>About Django Extension Examples Website</h1>
    <h3>Coded By:</h3>
    <p class="lead">
      David Robb
      <small class="text-muted">(Sunday, April 21, 2024)</small>
    </p>
    <p class="lead">
      Welcome to an updated version of the django-example project that I created several years ago to better understand django-extensions. This version is fully up-to-date with the latest paackages and some additional features.
    </p>
    <p>
      This project will not be hosted publicly, but on a private server in my lab
      environment, and will primarily be used to host technical posts, except
      those from Abby.
    </p>
    <h3>Built With...</h3>
    <h4>Development Packages</h4>
    <ul class="list-unstyled">
        <li>Black==24.4.0</li>
        <li>Ruff==0.4.1</li>
    </ul>
    <h4>Production Packages</h4>
    <ul class="list-unstyled">
      <li>asgiref==3.8.1</li>
      <li>Django==5.0.4</li>
      <li>django-extensions==3.2.3</li>
      <li>sqlparse==0.5.0</li>
    </ul>
  </div>

{% endblock content %}
