{% extends 'base.html' %}

{% load static %}

{% block title %}| Home{% endblock title %}

{% block content %}

<h1>Django Extensions Example Homepage</h1>

{% if user.is_authenticated %}
<p class="lead">Hello, {{ user.username }}. Welcome to this demo site!</p>
{% else %}
    <p class="lead">Pleae <a href="{% url 'login' %}">log in</a> to enjoy the features of this site.</p>
{% endif %}
    

<img class="img-fluid rounded" src="{% static 'images/img-01.jpg' %}" alt="unsplash">

{% endblock content %}
